<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini WhatsApp</title>
  </head>
  <body>
    <div><h1>All Chats In An DataBase!</h1></div>
    <% for(let i=0;i<AllChats.length;i++){ %>
        <div style="background-color: lightblue;border-radius: 10px;padding-left:10px;
        margin:9px">
            <h2>Message : <%=i%></h2> 
     <div>
        <h3>From:</h3><%=AllChats[i].from%>
     </div>
    <div>
        <h3>To:</h3><%=AllChats[i].to%>
        
     </div>
   <div>
        <h3 style="background-color: blueviolet;">Message:</h3><%=AllChats[i].msg%>
        <form action="/Chats/<%=AllChats[i]._id%>/edit" method="get">
      <button>Edit!</button>
    </form>
     </div>
  <div>
        <h3>Time Stamp:</h3><%=AllChats[i].created_At.toString().split(" ")[4] %>
    </div>
    <div>
      <h3>Date</h3><%=AllChats[i].created_At.toString().split(" ").slice(0,4) %>
    </div>
    <div>
      <h3>Last Modified:</h3><%=AllChats[i].updated_At %>
    </div>
    <div><form action="/Chats/<%=AllChats[i]._id%>?_method=delete" method="post">
      <button>Delete Chat!</button>
    </form></div>
</div>
    <%}%>
    <form action="http://localhost:3000/Chats/new" method="get">
    <button>Add Msg</button>
    </form>
    <form action="http://localhost:3000/Chats/deleteAll?_method=delete" method="post">
      <button>Delete All!</button>
    </form>
    
    
  </body>
</html>
